<?xml version='1.0' encoding='utf-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
  
        <!-- Database connection settings -->  
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
        <!-- <property name="connection.url">jdbc:mysql://localhost:3306/amazon?useUnicode=true&characterEncoding=utf8</property>   -->
        <property name="hibernate.connection.url">
        <![CDATA[jdbc:mysql://localhost:3306/Doctor?useUnicode=true&characterEncoding=utf8]]>
		</property>
        <property name="connection.username">root</property>  
        <property name="connection.password">ganggang</property>  
  
        <!-- JDBC connection pool (use the built-Interface)
        <property name="connection.pool_size">1</property>  
         -->  
        <!-- SQL dialect -->  
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>  
  		<property name="connection.useUnicode">true</property>
  		<property name="connection.characterEncoding">UTF-8</property>
        <property name="connection.release_mode">auto</property>
        <!-- Enable Hibernate's automatic session context management   
        <property name="current_session_context_class">thread</property>  
        -->
        <!-- 最大连接数 -->
        <property name="hibernate.c3p0.max_size">20</property>
        <!-- 最小连接数 -->
        <property name="hibernate.c3p0.min_size">5</property>
          
        <!-- Disable the second-level cache  -->  
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>  
  
        <!-- Echo all executed SQL to stdout -->  
        <property name="show-sql">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
  
        <!-- Drop and re-create the database schema on startup  
        <property name="hbm2ddl.auto">update</property>  
         -->  
           
     <!--   <mapping resource="com/bird/model/Student.hbm.xml"/> -->
        <mapping class="Spider.Entity.Mulu"></mapping>
        <mapping class="Spider.Entity.HdfMulu"></mapping>
        <mapping class="Spider.Entity.AskQuestion"></mapping>
        <mapping class="Spider.Entity.DoctorInfo"></mapping>
        <mapping class="Spider.Entity.FHQuestion"></mapping>
        <mapping class="Spider.Entity.HdfPage"></mapping>
        <mapping class="Spider.Entity.HdfPageDetail"></mapping>
        <mapping class="Spider.Entity.JjQuestion"></mapping>
        <mapping class="Spider.Entity.JKQuestion"></mapping>
        <mapping class="Spider.Entity.SJQuestion"></mapping>
        <mapping class="Spider.Entity.JKWQuestion"></mapping>
    </session-factory>  
  
</hibernate-configuration>  